body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Rubik", sans-serif;
    /* font-family: "Ubuntu", sans-serif; */
    color: var(--color-primary);
}
* {
    margin: 0;
    padding: 0;

    /* variable */
    --color-primary: #26150e;
    --color-secondary: #734434;
    --color-primary-light: #878A99;
}
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
}

.card p{
    font-family: Poppins;
    font-weight:600;
    Size:13px;

}

.card p span{
    background: #878A99;
    font-weight: 600;
    font-size: 10px;
}
.linepic{
    background: url('https://i.ibb.co/p2BMyNG/ctabg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80px;
    position: relative;
}
.linepic h2{
    font-family: Poppins;
    font-size: 17px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: center;
    color: #26150E;
    margin-bottom: -1rem;
}
.linepic p span{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-bottom: -1rem;
}
.linepic p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: white;
    margin-bottom: -1rem;
}
